_site
.sass-cache
.jekyll-metadata
.idea
/static/img/blog/angular/01-custom-element.png
/static/img/blog/angular/02-custom-element.png
/static/img/blog/angular/03-custom-element.png
/static/img/blog/angular/04-custom-element.png
/static/img/blog/angular/05-custom-element.png
/static/img/blog/angular/06-custom-element.png
/static/img/blog/angular/07-custom-element.png
/static/img/blog/angular/08-custom-element.png
/static/img/blog/angular/09-custom-element.png
/static/img/blog/angular/10-custom-element.png
/static/img/blog/angular/11-custom-element.png
/static/img/blog/angular/12-custom-element.png
/static/img/blog/angular/13-custom-element.png
/static/img/blog/angular/14-custom-element.png
/static/img/blog/angular/15-custom-element.png
/static/img/blog/angular/angular-js-firebase.png
/static/img/blog/angular/angular-logo.png
/static/img/blog/angular/angularjs.png
/static/img/blog/angular/angularjs_text.png
/static/img/blog/angular/transpilar-typescript.png
/static/img/blog/arquitectura/arquitectura-logo.jpg
/static/img/blog/arquitectura/arquitectura-logo1.jpg
/static/img/blog/maven/maven-logo-black-on-white.png
/_gsdata_/_file_state_v4._gs
/_gsdata_/2019-0206-153524-PC-MP05RUV-git.user-oper.log
/_gsdata_/_insync_v4.gsl
