<div class="side">
    <div>
        <i class="fa fa-external-link"></i>
        <span data-i18n="glosary.Sponsored_Content">Contenido patrocinado</span>           
    </div>
    <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- caja_publicidad -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-9602852723446701"
		     data-ad-slot="7391743077"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
    </div>
</div>		
