<div class="search-tool"
      style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px; opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control search-content" id="search-content" style="position: fixed; top: 60px" placeholder="Search Blog">

    <div style="position: fixed; top: 16px; right: 16px; z-index: 9999;">
        <img src="{{ site.baseurl }}search/img/cb-close.png" id="close-btn"/>
    </div>
</div>

<!--
<nav class="navbar navbar-default navbar-fixed-top navbar-scroll" role="navigation">
-->
<!-- para dispositivos medianos-grandes -->
<nav role="navigation" class="hidden-xs">    
    <div class="container" style="width: auto;">
        <div class="navbar-header page-scroll">
            <a class="btn btn-lg btn-default btn-logo-home-scroll" href="/" id="i18_title">
                <img src="{{ site.img_logo_path | prepend: site.baseurl }}" height="35px" width="35px" class="img-responsive" alt="" style="display: inline; margin-right: 1em;">
                <span data-i18n="website.title">{{ site.title }}</span>
            </a>                
        </div>   
    </div>
</nav>

<!-- para dispositivos pequeños -->
<nav class="visible-xs-block" role="navigation">    
    <div class="container" style="width: auto;">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="fas fa-bars"></span>
            </button>

            <a class="btn btn-lg btn-default btn-logo-home-scroll" href="/" id="i18_title">
                <img src="{{ site.img_logo_path | prepend: site.baseurl }}" height="35px" width="35px" class="img-responsive" alt="" style="display: inline; margin-right: 1em;">
                <!--
                    <span data-i18n="website.title">{{ site.title }}</span>
                -->
            </a>                
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for tag in site.data.blog %}
                    {% if page.section == tag.name %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                    <a class="page-scroll" href="{{ tag.href }}">{{ tag.name | upcase }}</a></li>
                {% endfor %}            
            </ul>
        </div>
        
    </div>
</nav>