<h2><span data-i18n="share.share">Comparte esta página:</span></h2>

<div class="bshare-custom">
   <div style="text-align:left">

		<!--twitter-->
		<a href="http://twitter.com/share?url={{ site.baseurl }}{{ page.url }}&amp;text={{ page.desc }}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/twitter.png" class="img-social" rel="nofollow" title="Twitter" alt="Tweet about this on Twitter">
		</a>

		<!--facebook-->
		<a href="http://www.facebook.com/sharer.php?u={{ site.baseurl }}{{ page.url }}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/facebook.png" class="img-social" rel="nofollow" title="Facebook" alt="Share on Facebook">
		</a>

		<!--linkedin-->
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.baseurl }}{{ page.url }}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/linkedin.png" class="img-social" rel="nofollow" title="LinkedIn" alt="Share on LinkedIn">
		</a>

		<!--google-->
		<a href="https://plus.google.com/share?url={{ site.baseurl }}{{ page.url }}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/google.png" class="img-social" rel="nofollow" title="Google+" alt="Share on Google+">
		</a>

		<!--pinterest-->
		<a href="https://pinterest.com/pin/create/button/?url={{ site.baseurl }}{{ page.url }}&media={{site.baseurl}}{{page.image}}&description={{page.desc}}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/pinterest.png" class="img-social" rel="nofollow" title="Pinterest" alt="Share on Pinterest">
		</a>

		<!--email-->
		<a href="mailto:?subject={{page.title}}&amp;body={{ site.baseurl }}{{ page.url }}" target="popup" onClick="window.open(this.href, this.target, 'width=500,height=300,left=400px'); return false;" rel="nofollow">
			<img src="{{ site.baseurl }}static/img/social/email.png" class="img-social" rel="nofollow" title="Email" alt="Email this to someone">
		</a>

	</div>
</div>