                    <!-- SUBSCRIPCION-->
                    <div class="side">

                        <div>
                            <i class="fa fa-bell-o" aria-hidden="true"></i> <span data-i18n="feedburner.my_feedburner">Suscríbete</span>
                        </div>

                        <div>
                            <form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=javiermartinalonso', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

                                <input type="text" style="width:90%; background: #fafafa;" name="email" value="e-mail" onfocus="if (this.value == 'e-mail') {this.value = '';}" onblur="if (this.value == '') {this.value = 'e-mail';}"/>
                                <input type="hidden" value="javiermartinalonso" name="uri"/>
                                <input type="hidden" name="loc" value="es_ES"/>
                                <button type="submit" style="padding: 3px; margin: 3px; width: 90%;" class="btn btn-default">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i> <span data-i18n="feedburner.my_feedburner">Suscríbete</span>
                                </button>
                            </form>
                        </div>
                    </div>