<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
	lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Bonita Forms Application" />
        <link href="css/bonita_form_default.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css_bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css_bootstrap/css/bootstrap-datetimepicker.min.css"/>
		<link rel="stylesheet" type="text/css" href="css_bootstrap/js/vendor/_icheck/skins/flat/grey.css"/>
		<link rel="stylesheet" type="text/css" href="css_bootstrap/js/vendor/tinymce/skins/light/skin.min.css"/>	
		<link rel="stylesheet" type="text/css" href="css_bootstrap/css/main.css"/>	
		<link rel="stylesheet" type="text/css" href="css_bootstrap/css/estilos.css"/>	
    </head>
    <body>
	   <div class="bonita_form_container">
	   		<br>
			<center>
				<div id="bonita_form_error_message" class="bonita_form_error_message alert alert-danger"></div>
				<div style="display:none;" id="bonita_form_cause_message" class="bonita_form_cause_message"></div>
			</center>
			<br/>
			<div class="col-lg-12">
				<div class="txt-rg">
					<center><a href="javascript:parent.parent.window.postMessage('reloadlicenciamiento','*');" class="btn btn-system btn-inl f-monserrat uppc"><span class="ico-btn ico-btn-cancel"></span> <span class="btn-txt">Voltar</span></a></center>
				</div>
			</div>
		  
	   </div>
    </body>
</html>